@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #a2b2fc;
  --foreground: #a2b2fc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #a2b2fc;
    --foreground: #a2b2fc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: #a2b2fc;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden; /* Prevent horizontal overflow */
  height: 100%;
}
